<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GablarskiDB" connectionString="metadata=res://*/Gablarski.csdl|res://*/Gablarski.ssdl|res://*/Gablarski.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\Rogue Jedi\Documents\Projects\Gablarski\trunk\gablarski.db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>