[submodule "src/Tempest.Social"]
	path = src/Tempest.Social
	url = https://github.com/ermau/Tempest.Social.git
[submodule "src/Opus.NET"]
	path = src/Opus.NET
	url = https://github.com/ermau/Opus.NET.git
