<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="barrel" type="Gablarski.Barrel, BarrelConfiguration" />
	</configSections>
	
	<barrel>
		<servers>
			<server name="Barrel of Monkeys" description="You need an explanation?" port="6112">
				<channels>Gablarski.Server.LobbyChannelProvider, Gablarski</channels>
				<authentication>Gablarski.Server.GuestAuthProvider, Gablarski</authentication>
				<permissions>Gablarski.Server.GuestPermissionProvider, Gablarski</permissions>
			</server>
		</servers>
	</barrel>

	<log4net>
		<appender name="Log" type="log4net.Appender.FileAppender">
			<file value="gablarski.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-4timestamp [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="Trace" type="log4net.Appender.TraceAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-4timestamp [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="DEBUG" />
			<appender-ref ref="Log" />
		</root>

		<logger name="NHibernate">
			<level value="WARN" />
		</logger>
	</log4net>
</configuration>