<?xml version="1.0" encoding="utf-8" ?>
<!-- Configuration guide: https://www.assembla.com/wiki/show/gablarski/Barrel -->
<configuration>
	<configSections>
		<section name="barrel" type="Gablarski.Barrel.Config.BarrelConfiguration, Barrel" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="localserver" type="Gablarski.LocalServer.Config.LocalServerConfiguration, Gablarski.LocalServer" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>

	<barrel name="Barrel of Monkeys" description="You need an explanation?" port="42912" maxConnections="100">
		<providers>
			<provider type="Gablarski.LocalServer.PermissionProvider, Gablarski.LocalServer" />
			<provider type="Gablarski.LocalServer.ChannelProvider, Gablarski.LocalServer" />
			<provider type="Gablarski.LocalServer.UserProvider, Gablarski.LocalServer" />
		</providers>
	</barrel>

	<localserver>
		<settings>
			<setting key="registration" value="Normal" />
			<setting key="registrationContent" value="" />
			<setting key="database" value="barrel.db" />
		</settings>
	</localserver>

	<log4net>
		<appender name="Log" type="log4net.Appender.FileAppender">
			<file value="gablarski.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-4timestamp [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="Console" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-4timestamp [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="INFO" />
			<appender-ref ref="Console" />
		</root>

		<logger name="NHibernate">
			<level value="WARN" />
		</logger>
	</log4net>
</configuration>