body, form
{
    margin: 0;
    padding: 0;
}

.dialog
{
    width: 160px;
    margin-left: -80px;
    
    height: 180px;
    margin-top: -90px;
    
    left: 50%;
    position: absolute;
    top: 50%;
    
    border: solid 1px black;
}

.dialog .header
{
    margin-bottom: 10px;
    border-bottom: solid 1px black;
    
    padding: 5px;
}

.dialog .body
{
    padding: 5px;
}

.dialog .body p
{
    margin: 0;
}

.dialog .body div
{
    margin-bottom: 10px;
}